* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffce9;
}

/* Body styles */
/* Body styles */
body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: #fffce9;
    margin: 0;
}

/* Container styles */
.container {
    max-width: 100%;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100px;
    background-color: #242121;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    padding-top: 20px;
    margin-right: 400px;
}

.menu {
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-right: 5px;
}

.menu li a {
    text-decoration: none;
    color: #fffce9;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.menu li a:hover {
    color: #7C2694;
}

/* Main styles */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    padding: 50px;
    background-color: #282828;
}

img {
    max-width: 100%;
    height: 80%;
}

/* Section styles */
.section {
    width: 1000px;
    background-color: #282828;
    padding: 40px 20px;
}

/* Text container styles */
.text-container {
    text-align: left;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fffce9;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #fffce9;
    line-height: 1.5;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    color: #fffce9;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #7C2694;
}

/* Button styles */
button {
    background-color: #007bff;
    color: #fffce9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Featured section styles */
.featured-section {
    display: flex;
    flex-direction: row;
    background-color: #282828;
    padding-left: 50px;
    justify-content: space-around;
    padding-right: 80px;
    padding-top: 80px;
}

.content-wrapper {
    margin-top: 100px;
}


/* Benefits section styles */
.kotak {
    background-color: #282828;
    margin-top: 150px;
    margin-left: 100px;
}

.katahudie {
    background-color: #282828;
    margin-top: 200px;
    padding-left: 70px;
}

.katatopi {
    background-color: #282828;
    margin-top: 130px;
    padding-left: 70px;
}

.tumpukbawah {
    position: absolute;
    margin-left: 800px;
    margin-top: 80px;
    height: 600px;
}

.tumpukatas {
    margin-right: 60px;
    margin-bottom: 60px;
}

.model {
    background-color: #282828;
    margin-bottom: 50px;
}

/* Publication section styles */
.publication-section {
    background-color: #282828;
    padding: 40px;
    text-align: center;
}


/* Square styles */
.square {
    justify-content: space-around;
    padding-left: 50px;
}

.galery {
    padding-top: 40px;
    display:flex ;
    flex-direction: row;
    background-color:#282828;
    display: flex;
    justify-content: space-around;
    /* Distribute squares evenly */
}

/* Footer styles */
footer {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Media queries for responsiveness */

/* Smartphone */
@media (max-width: 576px) {
    .img {
        width: 40px;
        height: 40px;
    }

    .navbar {
        padding: 10px;
    }

    .menu {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    main {
        flex-direction: column;
        padding: 30px;
    }

    .section {
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    a {
        padding: 8px 16px;
    }

    /* Atur padding pada publication section agar responsif */
    .publication-section {
        padding: 20px;
    }

    /* Atur lebar dan tinggi kotak menjadi lebih kecil agar sesuai dengan layar smartphone */
    .square {
        width: 80px;
        height: 80px;
    }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {
    main {
        padding: 40px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    a {
        padding: 10px 20px;
    }
}

/* Desktop */
@media (min-width: 992px) {
    main {
        padding: 50px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    a {
        padding: 10px 20px;
    }
}